<section class="content-header">
  <h1> 
  &nbsp; Product <small> <%= params[:action] %> </small></h1>
  <ol class="breadcrumb">
    <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Master Product</li>
  </ol>
</section>

<section class="content">
  <div class="row">
    <div class="col-md-6">
      <div class="box">
        <%= render 'form', product: @product %>
      </div><!-- /.box -->
    </div>
  </div>
</section>